PORT=3000
GCS_BUCKET_NAME=your-gcs-bucket-name
GCP_PROJECT_ID=your-gcp-project-id
SHARD_1_URL=postgresql://postgres:postgres@localhost:5432/shard_1
SHARD_2_URL=postgresql://postgres:postgres@localhost:5433/shard_2
SHARD_3_URL=postgresql://postgres:postgres@localhost:5434/shard_3
